In [36]:
import pandas as pd
from pathlib import Path

In [37]:
inputfilepath = Path(r"C:\Users\jasonjia\Dropbox\Projects\denmark_spending\data\spending_matrix_manual_2.xlsx")
outputfilepath = Path(r"C:\Users\jasonjia\Dropbox\Projects\denmark_spending\data\spending_matrix_manual_2_processed.csv")

In [38]:
# Part 1: Convert spending matrix from wide to long

In [39]:
df = pd.read_excel(inputfilepath)

In [40]:
df.shape

(24, 1003)

In [41]:
df.head()

,cust_muni,cust_sector,cust_cell,s_s01_spendinflow_101,s_s01_spendinflow_147,s_s01_spendinflow_151,s_s01_spendinflow_153,s_s01_spendinflow_155,s_s01_spendinflow_157,s_s01_spendinflow_159,...,s_s10_spendinflow_810,s_s10_spendinflow_813,s_s10_spendinflow_820,s_s10_spendinflow_825,s_s10_spendinflow_840,s_s10_spendinflow_846,s_s10_spendinflow_849,s_s10_spendinflow_851,s_s10_spendinflow_860,s_s10_spendinflow_foreign
0,147,s01_spendinflow,s01_spendinflow_147,4952484.500,1.618495e+06,15093.779297,15851.932617,2666.871338,43493.605469,4346.378418,...,NaN,6742.985840,NaN,NaN,NaN,NaN,NaN,4560.177734,NaN,102062.015625
1,147,s02_spendinflow,s02_spendinflow_147,2730390.750,1.618001e+06,12072.557617,11770.037109,3084.991699,79603.585938,17696.447266,...,NaN,NaN,NaN,NaN,9017.833984,NaN,NaN,19445.363281,NaN,135245.734375
2,147,s03_spendinflow,s03_spendinflow_147,1338873.875,7.617613e+05,14927.909180,8003.407227,1450.689087,18873.750000,6130.254395,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1493.899414,NaN,63570.183594
3,147,s04_spendinflow,s04_spendinflow_147,8399536.000,5.133182e+06,43304.835938,44230.640625,9762.919922,219130.703125,88630.914062,...,NaN,19315.427734,NaN,NaN,9392.116211,17500.671875,NaN,24457.505859,5203.919922,690926.625000
4,147,s05_spendinflow,s05_spendinflow_147,1099364.875,5.894739e+05,13725.967773,13575.119141,2147.161621,23607.589844,7217.661621,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2896.781982,NaN,57291.765625

In [42]:
df.columns

Index(['cust_muni', 'cust_sector', 'cust_cell', 's_s01_spendinflow_101',
       's_s01_spendinflow_147', 's_s01_spendinflow_151',
       's_s01_spendinflow_153', 's_s01_spendinflow_155',
       's_s01_spendinflow_157', 's_s01_spendinflow_159',
       ...
       's_s10_spendinflow_810', 's_s10_spendinflow_813',
       's_s10_spendinflow_820', 's_s10_spendinflow_825',
       's_s10_spendinflow_840', 's_s10_spendinflow_846',
       's_s10_spendinflow_849', 's_s10_spendinflow_851',
       's_s10_spendinflow_860', 's_s10_spendinflow_foreign'],
      dtype='object', length=1003)

In [43]:
df.rename(columns = {'cust_muni':'spender_region', 'cust_sector':'spender_sector','cust_cell':'spender_sector_region'}, inplace = True)

In [44]:
df.head()

,spender_region,spender_sector,spender_sector_region,s_s01_spendinflow_101,s_s01_spendinflow_147,s_s01_spendinflow_151,s_s01_spendinflow_153,s_s01_spendinflow_155,s_s01_spendinflow_157,s_s01_spendinflow_159,...,s_s10_spendinflow_810,s_s10_spendinflow_813,s_s10_spendinflow_820,s_s10_spendinflow_825,s_s10_spendinflow_840,s_s10_spendinflow_846,s_s10_spendinflow_849,s_s10_spendinflow_851,s_s10_spendinflow_860,s_s10_spendinflow_foreign
0,147,s01_spendinflow,s01_spendinflow_147,4952484.500,1.618495e+06,15093.779297,15851.932617,2666.871338,43493.605469,4346.378418,...,NaN,6742.985840,NaN,NaN,NaN,NaN,NaN,4560.177734,NaN,102062.015625
1,147,s02_spendinflow,s02_spendinflow_147,2730390.750,1.618001e+06,12072.557617,11770.037109,3084.991699,79603.585938,17696.447266,...,NaN,NaN,NaN,NaN,9017.833984,NaN,NaN,19445.363281,NaN,135245.734375
2,147,s03_spendinflow,s03_spendinflow_147,1338873.875,7.617613e+05,14927.909180,8003.407227,1450.689087,18873.750000,6130.254395,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1493.899414,NaN,63570.183594
3,147,s04_spendinflow,s04_spendinflow_147,8399536.000,5.133182e+06,43304.835938,44230.640625,9762.919922,219130.703125,88630.914062,...,NaN,19315.427734,NaN,NaN,9392.116211,17500.671875,NaN,24457.505859,5203.919922,690926.625000
4,147,s05_spendinflow,s05_spendinflow_147,1099364.875,5.894739e+05,13725.967773,13575.119141,2147.161621,23607.589844,7217.661621,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2896.781982,NaN,57291.765625

In [45]:
id_vars = ['spender_region', 'spender_sector', 'spender_sector_region']

In [46]:
df_new = pd.melt(df, id_vars=id_vars, var_name='recipient_sector_region', value_name='spend')
df_new

,spender_region,spender_sector,spender_sector_region,recipient_sector_region,spend
0,147,s01_spendinflow,s01_spendinflow_147,s_s01_spendinflow_101,4.952484e+06
1,147,s02_spendinflow,s02_spendinflow_147,s_s01_spendinflow_101,2.730391e+06
2,147,s03_spendinflow,s03_spendinflow_147,s_s01_spendinflow_101,1.338874e+06
3,147,s04_spendinflow,s04_spendinflow_147,s_s01_spendinflow_101,8.399536e+06
4,147,s05_spendinflow,s05_spendinflow_147,s_s01_spendinflow_101,1.099365e+06
...,...,...,...,...,...
23995,147,s20_nospendinflow,s20_nospendinflow_147,s_s10_spendinflow_foreign,2.190343e+05
23996,147,s21_nospendinflow,s21_nospendinflow_147,s_s10_spendinflow_foreign,2.065606e+05
23997,147,s22_nospendinflow,s22_nospendinflow_147,s_s10_spendinflow_foreign,5.009376e+05
23998,147,s23_nospendinflow,s23_nospendinflow_147,s_s10_spendinflow_foreign,1.367117e+06
23999,147,s24_nospendinflow,s24_nospendinflow_147,s_s10_spendinflow_foreign,3.021890e+05

In [47]:
df_new['recipient_region'] = df_new['recipient_sector_region'].str.extract(r'spendinflow_(.+)$')
df_new['recipient_sector'] = df_new['recipient_sector_region'].str.extract(r'(.+)_.+$')
df_new

,spender_region,spender_sector,spender_sector_region,recipient_sector_region,spend,recipient_region,recipient_sector
0,147,s01_spendinflow,s01_spendinflow_147,s_s01_spendinflow_101,4.952484e+06,101,s_s01_spendinflow
1,147,s02_spendinflow,s02_spendinflow_147,s_s01_spendinflow_101,2.730391e+06,101,s_s01_spendinflow
2,147,s03_spendinflow,s03_spendinflow_147,s_s01_spendinflow_101,1.338874e+06,101,s_s01_spendinflow
3,147,s04_spendinflow,s04_spendinflow_147,s_s01_spendinflow_101,8.399536e+06,101,s_s01_spendinflow
4,147,s05_spendinflow,s05_spendinflow_147,s_s01_spendinflow_101,1.099365e+06,101,s_s01_spendinflow
...,...,...,...,...,...,...,...
23995,147,s20_nospendinflow,s20_nospendinflow_147,s_s10_spendinflow_foreign,2.190343e+05,foreign,s_s10_spendinflow
23996,147,s21_nospendinflow,s21_nospendinflow_147,s_s10_spendinflow_foreign,2.065606e+05,foreign,s_s10_spendinflow
23997,147,s22_nospendinflow,s22_nospendinflow_147,s_s10_spendinflow_foreign,5.009376e+05,foreign,s_s10_spendinflow
23998,147,s23_nospendinflow,s23_nospendinflow_147,s_s10_spendinflow_foreign,1.367117e+06,foreign,s_s10_spendinflow
23999,147,s24_nospendinflow,s24_nospendinflow_147,s_s10_spendinflow_foreign,3.021890e+05,foreign,s_s10_spendinflow

In [48]:
df_new[df_new['spender_sector_region']=='s24_nospendinflow_foreign'] # Test

Empty DataFrame
Columns: [spender_region, spender_sector, spender_sector_region, recipient_sector_region, spend, recipient_region, recipient_sector]
Index: []

In [49]:
df_new['spender_sector'] = df_new['spender_sector'].str[1:3]
df_new['recipient_sector'] = df_new['recipient_sector'].str[3:5]
df_new

,spender_region,spender_sector,spender_sector_region,recipient_sector_region,spend,recipient_region,recipient_sector
0,147,01,s01_spendinflow_147,s_s01_spendinflow_101,4.952484e+06,101,01
1,147,02,s02_spendinflow_147,s_s01_spendinflow_101,2.730391e+06,101,01
2,147,03,s03_spendinflow_147,s_s01_spendinflow_101,1.338874e+06,101,01
3,147,04,s04_spendinflow_147,s_s01_spendinflow_101,8.399536e+06,101,01
4,147,05,s05_spendinflow_147,s_s01_spendinflow_101,1.099365e+06,101,01
...,...,...,...,...,...,...,...
23995,147,20,s20_nospendinflow_147,s_s10_spendinflow_foreign,2.190343e+05,foreign,10
23996,147,21,s21_nospendinflow_147,s_s10_spendinflow_foreign,2.065606e+05,foreign,10
23997,147,22,s22_nospendinflow_147,s_s10_spendinflow_foreign,5.009376e+05,foreign,10
23998,147,23,s23_nospendinflow_147,s_s10_spendinflow_foreign,1.367117e+06,foreign,10
23999,147,24,s24_nospendinflow_147,s_s10_spendinflow_foreign,3.021890e+05,foreign,10

In [50]:
df_new = df_new.reindex(columns=['spender_region', 'spender_sector', 'recipient_region', 'recipient_sector',
                                 'spender_sector_region', 'recipient_sector_region', 'spend'])
df_new

,spender_region,spender_sector,recipient_region,recipient_sector,spender_sector_region,recipient_sector_region,spend
0,147,01,101,01,s01_spendinflow_147,s_s01_spendinflow_101,4.952484e+06
1,147,02,101,01,s02_spendinflow_147,s_s01_spendinflow_101,2.730391e+06
2,147,03,101,01,s03_spendinflow_147,s_s01_spendinflow_101,1.338874e+06
3,147,04,101,01,s04_spendinflow_147,s_s01_spendinflow_101,8.399536e+06
4,147,05,101,01,s05_spendinflow_147,s_s01_spendinflow_101,1.099365e+06
...,...,...,...,...,...,...,...
23995,147,20,foreign,10,s20_nospendinflow_147,s_s10_spendinflow_foreign,2.190343e+05
23996,147,21,foreign,10,s21_nospendinflow_147,s_s10_spendinflow_foreign,2.065606e+05
23997,147,22,foreign,10,s22_nospendinflow_147,s_s10_spendinflow_foreign,5.009376e+05
23998,147,23,foreign,10,s23_nospendinflow_147,s_s10_spendinflow_foreign,1.367117e+06
23999,147,24,foreign,10,s24_nospendinflow_147,s_s10_spendinflow_foreign,3.021890e+05

In [51]:
# Part 2: Convert region codes into actual region names

In [52]:
region_names = pd.read_excel(r"C:\Users\jasonjia\Dropbox\Projects\denmark_spending\data\dk_municipalities_code_to_name.xlsx")

In [53]:
region_names.shape

(100, 2)

In [54]:
region_names.head()

  Code           Name
0  101      KÃ¸benhavn
1  147  Frederiksberg
2  151       Ballerup
3  153        BrÃ¸ndby
4  155         DragÃ¸r

In [55]:
# region_names = region_names.append({'Code': 'foreign', 'Name': 'Foreign'}, ignore_index=True) # Already done so in the Excel sheet

In [56]:
region_names

       Code           Name
0       101      KÃ¸benhavn
1       147  Frederiksberg
2       151       Ballerup
3       153        BrÃ¸ndby
4       155         DragÃ¸r
..      ...            ...
95      846  Mariagerfjord
96      849     Jammerbugt
97      851        Aalborg
98      860       HjÃ¸rring
99  foreign        Foreign

[100 rows x 2 columns]

In [57]:
# Because region codes contain numbers (e.g. 101) and strings (i.e. 'foreign'), 
# we need to convert them both to the same data type.
region_names['Code'].dtype

dtype('O')

In [58]:
region_names['Code'] = region_names['Code'].astype('str')
region_names['Code'].dtype

dtype('O')

In [59]:
df_new['spender_region'] = df_new['spender_region'].astype('str')
df_new['spender_region'].dtype

dtype('O')

In [60]:
df_new_names = df_new.merge(region_names, left_on='spender_region', right_on='Code', how='left')
df_new_names

,spender_region,spender_sector,recipient_region,recipient_sector,spender_sector_region,recipient_sector_region,spend,Code,Name
0,147,01,101,01,s01_spendinflow_147,s_s01_spendinflow_101,4.952484e+06,147,Frederiksberg
1,147,02,101,01,s02_spendinflow_147,s_s01_spendinflow_101,2.730391e+06,147,Frederiksberg
2,147,03,101,01,s03_spendinflow_147,s_s01_spendinflow_101,1.338874e+06,147,Frederiksberg
3,147,04,101,01,s04_spendinflow_147,s_s01_spendinflow_101,8.399536e+06,147,Frederiksberg
4,147,05,101,01,s05_spendinflow_147,s_s01_spendinflow_101,1.099365e+06,147,Frederiksberg
...,...,...,...,...,...,...,...,...,...
23995,147,20,foreign,10,s20_nospendinflow_147,s_s10_spendinflow_foreign,2.190343e+05,147,Frederiksberg
23996,147,21,foreign,10,s21_nospendinflow_147,s_s10_spendinflow_foreign,2.065606e+05,147,Frederiksberg
23997,147,22,foreign,10,s22_nospendinflow_147,s_s10_spendinflow_foreign,5.009376e+05,147,Frederiksberg
23998,147,23,foreign,10,s23_nospendinflow_147,s_s10_spendinflow_foreign,1.367117e+06,147,Frederiksberg
23999,147,24,foreign,10,s24_nospendinflow_147,s_s10_spendinflow_foreign,3.021890e+05,147,Frederiksberg

In [61]:
df_new_names = df_new_names.rename(columns = {'Name':'spender_region_name'})
df_new_names = df_new_names.drop(['Code'], axis = 1)
df_new_names

,spender_region,spender_sector,recipient_region,recipient_sector,spender_sector_region,recipient_sector_region,spend,spender_region_name
0,147,01,101,01,s01_spendinflow_147,s_s01_spendinflow_101,4.952484e+06,Frederiksberg
1,147,02,101,01,s02_spendinflow_147,s_s01_spendinflow_101,2.730391e+06,Frederiksberg
2,147,03,101,01,s03_spendinflow_147,s_s01_spendinflow_101,1.338874e+06,Frederiksberg
3,147,04,101,01,s04_spendinflow_147,s_s01_spendinflow_101,8.399536e+06,Frederiksberg
4,147,05,101,01,s05_spendinflow_147,s_s01_spendinflow_101,1.099365e+06,Frederiksberg
...,...,...,...,...,...,...,...,...
23995,147,20,foreign,10,s20_nospendinflow_147,s_s10_spendinflow_foreign,2.190343e+05,Frederiksberg
23996,147,21,foreign,10,s21_nospendinflow_147,s_s10_spendinflow_foreign,2.065606e+05,Frederiksberg
23997,147,22,foreign,10,s22_nospendinflow_147,s_s10_spendinflow_foreign,5.009376e+05,Frederiksberg
23998,147,23,foreign,10,s23_nospendinflow_147,s_s10_spendinflow_foreign,1.367117e+06,Frederiksberg
23999,147,24,foreign,10,s24_nospendinflow_147,s_s10_spendinflow_foreign,3.021890e+05,Frederiksberg

In [62]:
df_new_names = df_new_names.merge(region_names, left_on='recipient_region', right_on='Code', how='left')
df_new_names

,spender_region,spender_sector,recipient_region,recipient_sector,spender_sector_region,recipient_sector_region,spend,spender_region_name,Code,Name
0,147,01,101,01,s01_spendinflow_147,s_s01_spendinflow_101,4.952484e+06,Frederiksberg,101,KÃ¸benhavn
1,147,02,101,01,s02_spendinflow_147,s_s01_spendinflow_101,2.730391e+06,Frederiksberg,101,KÃ¸benhavn
2,147,03,101,01,s03_spendinflow_147,s_s01_spendinflow_101,1.338874e+06,Frederiksberg,101,KÃ¸benhavn
3,147,04,101,01,s04_spendinflow_147,s_s01_spendinflow_101,8.399536e+06,Frederiksberg,101,KÃ¸benhavn
4,147,05,101,01,s05_spendinflow_147,s_s01_spendinflow_101,1.099365e+06,Frederiksberg,101,KÃ¸benhavn
...,...,...,...,...,...,...,...,...,...,...
23995,147,20,foreign,10,s20_nospendinflow_147,s_s10_spendinflow_foreign,2.190343e+05,Frederiksberg,foreign,Foreign
23996,147,21,foreign,10,s21_nospendinflow_147,s_s10_spendinflow_foreign,2.065606e+05,Frederiksberg,foreign,Foreign
23997,147,22,foreign,10,s22_nospendinflow_147,s_s10_spendinflow_foreign,5.009376e+05,Frederiksberg,foreign,Foreign
23998,147,23,foreign,10,s23_nospendinflow_147,s_s10_spendinflow_foreign,1.367117e+06,Frederiksberg,foreign,Foreign
23999,147,24,foreign,10,s24_nospendinflow_147,s_s10_spendinflow_foreign,3.021890e+05,Frederiksberg,foreign,Foreign

In [63]:
df_new_names = df_new_names.rename(columns = {'Name':'recipient_region_name'})
df_new_names = df_new_names.drop(['Code'], axis = 1)
df_new_names

,spender_region,spender_sector,recipient_region,recipient_sector,spender_sector_region,recipient_sector_region,spend,spender_region_name,recipient_region_name
0,147,01,101,01,s01_spendinflow_147,s_s01_spendinflow_101,4.952484e+06,Frederiksberg,KÃ¸benhavn
1,147,02,101,01,s02_spendinflow_147,s_s01_spendinflow_101,2.730391e+06,Frederiksberg,KÃ¸benhavn
2,147,03,101,01,s03_spendinflow_147,s_s01_spendinflow_101,1.338874e+06,Frederiksberg,KÃ¸benhavn
3,147,04,101,01,s04_spendinflow_147,s_s01_spendinflow_101,8.399536e+06,Frederiksberg,KÃ¸benhavn
4,147,05,101,01,s05_spendinflow_147,s_s01_spendinflow_101,1.099365e+06,Frederiksberg,KÃ¸benhavn
...,...,...,...,...,...,...,...,...,...
23995,147,20,foreign,10,s20_nospendinflow_147,s_s10_spendinflow_foreign,2.190343e+05,Frederiksberg,Foreign
23996,147,21,foreign,10,s21_nospendinflow_147,s_s10_spendinflow_foreign,2.065606e+05,Frederiksberg,Foreign
23997,147,22,foreign,10,s22_nospendinflow_147,s_s10_spendinflow_foreign,5.009376e+05,Frederiksberg,Foreign
23998,147,23,foreign,10,s23_nospendinflow_147,s_s10_spendinflow_foreign,1.367117e+06,Frederiksberg,Foreign
23999,147,24,foreign,10,s24_nospendinflow_147,s_s10_spendinflow_foreign,3.021890e+05,Frederiksberg,Foreign

In [64]:
df_new_names = df_new_names.reindex(columns=['spender_region', 'spender_region_name', 'spender_sector', 
                                 'recipient_region', 'recipient_region_name', 'recipient_sector',
                                 'spender_sector_region', 'recipient_sector_region', 'spend'])
df_new_names

,spender_region,spender_region_name,spender_sector,recipient_region,recipient_region_name,recipient_sector,spender_sector_region,recipient_sector_region,spend
0,147,Frederiksberg,01,101,KÃ¸benhavn,01,s01_spendinflow_147,s_s01_spendinflow_101,4.952484e+06
1,147,Frederiksberg,02,101,KÃ¸benhavn,01,s02_spendinflow_147,s_s01_spendinflow_101,2.730391e+06
2,147,Frederiksberg,03,101,KÃ¸benhavn,01,s03_spendinflow_147,s_s01_spendinflow_101,1.338874e+06
3,147,Frederiksberg,04,101,KÃ¸benhavn,01,s04_spendinflow_147,s_s01_spendinflow_101,8.399536e+06
4,147,Frederiksberg,05,101,KÃ¸benhavn,01,s05_spendinflow_147,s_s01_spendinflow_101,1.099365e+06
...,...,...,...,...,...,...,...,...,...
23995,147,Frederiksberg,20,foreign,Foreign,10,s20_nospendinflow_147,s_s10_spendinflow_foreign,2.190343e+05
23996,147,Frederiksberg,21,foreign,Foreign,10,s21_nospendinflow_147,s_s10_spendinflow_foreign,2.065606e+05
23997,147,Frederiksberg,22,foreign,Foreign,10,s22_nospendinflow_147,s_s10_spendinflow_foreign,5.009376e+05
23998,147,Frederiksberg,23,foreign,Foreign,10,s23_nospendinflow_147,s_s10_spendinflow_foreign,1.367117e+06
23999,147,Frederiksberg,24,foreign,Foreign,10,s24_nospendinflow_147,s_s10_spendinflow_foreign,3.021890e+05

In [65]:
df_new_names[(df_new_names['recipient_sector_region']=='s_s10_spendinflow_846') & (df_new_names['spender_sector']=='20')] # Test

,spender_region,spender_region_name,spender_sector,recipient_region,recipient_region_name,recipient_sector,spender_sector_region,recipient_sector_region,spend
23899,147,Frederiksberg,20,846,Mariagerfjord,10,s20_nospendinflow_147,s_s10_spendinflow_846,6779.158203

In [66]:
df_new_names.to_csv(outputfilepath, index=False)